<h1 mat-dialog-title>Update course</h1>
<div mat-dialog-content>
  <form [formGroup]="updateCourseForm">
    <mat-form-field appearance="outline" class="input-width">
      <mat-label>Choose a course</mat-label>
      <mat-select formControlName="courseId">
        <mat-option *ngFor="let course of courses" [value]="course.courseId">{{course.courseName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <fieldset formGroupName="time">
      <mat-form-field appearance="outline" class="input-width">
        <mat-label>Days</mat-label>
        <input type="number" matInput formControlName="days">
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-width">
        <mat-label>Hours</mat-label>
        <input type="number" matInput formControlName="hours">
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-width">
        <mat-label>Minutes</mat-label>
        <input type="number" matInput formControlName="minutes">
      </mat-form-field>
    </fieldset>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button [disabled]="!updateCourseForm.valid" (click)="onSubmit()" mat-raised-button color="accent">Update</button>
</div>